
.select-item(@dropdown-prefix-cls, @dropdown-item-prefix-cls);
.buttonsArrows{ position: absolute;
    right: -12px;
    top: 0;
    height: 32px;
    border-left: 1px solid #3fa4f1;
    width: 18px;
    background-color: #2d8cf0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.buttonsArrows .arrowDown{color:#fff; margin:10px 0 0 4px;font-size: 10px }
.buttonsArrowHover,.buttonsArrows:hover{background-color: #57a3f3}